name: GitLeaks Secret Scan

on: [push,pull_request, workflow_dispatch]

jobs:
  gitleaks:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Code
      uses: actions/checkout@v1
    
    - name: Update Secret Definitions
      run: mkdir security && wget -P security/ https://raw.githubusercontent.com/zricethezav/gitleaks/master/config/gitleaks.toml

    - name: Run GitLeaks Scan
      uses: zricethezav/gitleaks-action@master
      with:
        config-path: security/gitleaks.toml
